*
{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
}
body
{
    font-size: 20px;
    overflow-x: hidden;
    color: white;
    font-family: 'Flamenco', cursive;
}
header
{
background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/pexels.jpeg");
height: 105vh;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.clearfix:after
{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.row
{
    max-width: 1180px;
    margin: 0 auto;
}
.logo
{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 35px;
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    padding:10px;
    text-transform: uppercase;
}
.logo span
{
  color: green;
}
.logo span1
{
  color: yellowgreen;
}
.main-nav
{
    float: right;
    margin-top: 60px;
}
.main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a {
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;  
}
.main-nav li a:hover
{
 border-bottom: 2px solid #bf55ec;   
}
.main-content-header
{
    width: 1180px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1
{
color: #fff;
font-size: 240%;
word-spacing: 5px;
letter-spacing: 3px;
margin-bottom: 20px;
text-transform: uppercase;
font-weight: lighter;
}
.btn
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2, color 0.2;
}
.btn-full
{
    background-color: transparent;
    color: #bf55ec;
    margin-right: 15px;
    border: 1px solid #bf55ec;
}
.btn-full:hover
{
background-color: white;
}
.btn-nav
{
    background-color: transparent;
    color: #fff;
    border: 1px solid white ;
}
.btn-nav:hover
{
    background-color: #bf55ec;
}
.colorchange
{
    animation: colorchangeBROADCASTER 1s infinite;
}
@keyframes colorchangeBROADCASTER{
    0%{color: red;}
    25%{color: #bf55ec;}
    50%{ color: white;}
    100%{color: #bf55ec;}
}
.mobile-icon
{
    display:none ;
}

@media only screen and (max-width: 1180px)
{
    .main-content-header{
        width: 100%;
        padding: 0 2%;

    }
} 
@media only screen and (max-width: 998px)
{
    h1{
       font-size: 200%; 
    }    
}
@media only screen and (max-width: 768px)
{
    h1{
       font-size: 180%; 
    }  
    .main-nav
    {
        display: none;
    }  
    .mobile-icon
    {
        display: inline-block;
        color: white;
        float: right;
        margin-top: 30px;
        margin-right: 20px;
    }
    .main-nav
    {
        float: left;
    }
    .main-nav li
    {
        display: block;
        margin-top: 10px;
    }
    .footer-menu-one ul li a
    {
        display: inline;
    }
}
@media only screen and (max-width: 480px)
{
      .btn-full
      {
          margin-bottom:20px;
      }
      h1{
        font-size: 160%; 
     }    

}
a
{
    text-decoration: none;
    outline: none;
}
.footer-main-div
{
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px 0px;
}
.footer-social-icons
{
    width: 50%;
    height: 20px;
    margin: auto;
}
.footer-social-icons ul
{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-social-icons ul li 
{
   display: inline-block; 
   width: 50px;
   height: 50px;
   margin: 0px 8px;
   border-radius: 50%;
   background: #32cd32;
}
.footer-social-icons ul li a
{
  color:#272727;
  font-size: 25px;
  display: block;
}
.footer-social-icons ul li a:hover
{
  color: #fff;
}
.footer-social-icons img{
    line-height: 10px;
    width: 50px;
}
.footer-menu-one
{
   width: 100%;
   height: auto;
   margin: auto; 
   margin-top: 25px;
}
.footer-menu-one ul 
{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-one ul li
{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-one ul li a
{
   font-family: arial;
   font-size: 15px;
   font-weight: 600;
   color: #fff;
   letter-spacing: 1px;
   text-transform: uppercase;
}
.footer-menu-one ul li a:hover
{
    color: #32cd32;
}


.footer-botton
{
    width: 100%;
    height: auto;
    margin: auto;
    background:#01474a ;
    padding: 5px;
}
.footer-botton p
{
    font-family: arial;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-botton p a
{
    color: #fff;
}
.footer-botton p a:hover
{
    color: #272727;
}

.login-box
{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.login-box h1{
     float: left;
     font-size: 40px;
     border-bottom: 6px solid rgba(44,62,80,0.7);
     margin-bottom: 50px;
     padding: 13px 0;
}
.textbox
{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #fff;
}
.textbox img
{
    width:26px;
    float: left;
    text-align: center;
}
.textbox input
{
  border: none;
  outline: none;
  background: none;  
  color: white;
  float: left;
  font-size: 18px;
  width: 80%;
  margin: 0 10px;
}
.bt
{
width: 100%;
background: none;
border: 2px solid #fff;
color: white;
padding: 5px;
font-size: 18px;
cursor: pointer;
margin: 12px 0;
}
.bt:hover
{
    background: rgba(44,62,80,0.7);
}
::placeholder
{
    background-color: rgba(44,62,80,0.7);
    opacity: 0.8;
}

.register-left
{
    float: left;
  text-align: center;
  color: #fff;
  padding: 30px;  
}
#joi
{
    color: rgba(44,62,80,0.7);
}

.register-left img
{
  margin-top: 60px;
  margin-bottom: 18px;
  width: 80px;
  animation: mover 1s infinite alternate;

}
.register-left p
{
   padding: 20px 20px 0; 
}
.register-left .primary
{
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #000;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
}
.register-left .primary:hover
{
    background: rgba(44,62,80,0.7);
}
.register-right
{
    float:right;
    border: none;
    background: rgba(44,62,80,0.7);
    margin-right: 100px;
    border-top-left-radius: 40% 50%;
    border-bottom-left-radius: 40% 50%;
    padding: 50px;
}
.register-right h2
{
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}
.register-form 
{
    padding: 50px;
}
.register-form .form-group input
{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'play' sans-serif;
    font-size: 16px;
    font-weight: 100px;
    padding: 1px 0;
    transition: border 0.5s;
    outline: none;
    color: white;
}
::placeholder
{
    color: #000;
    opacity: 0.8;
    text-align: left;
}

.register-right .primary
{
     float:right;
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #000;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
}
.register-right .primary:hover
{
    background: #0B4844;
}
@keyframes mover
{
 0%{transform: translateY(0);}
 100%{transform: translateY(-20px);}
}

.contact-items h2 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 60px;
}
.contact-items input
{
    background: rgba(44,62,80,0.7);
    color: white;
}

.contact-items textarea {
  border-radius: 10px;
  height: 200px;
  padding: 15px;
  width: 50%;
  color: white;
  background: rgba(44,62,80,0.7);
}

#sub
{
    background: rgba(44,62,80,0.7);
}

@media all and (max-width:500px){
  .contact{
    flex-direction: column;
    width: 100%;
  }
}
@media all and (max-width:800px){
  .contact{
    flex-direction: column;
    width: 100%;
  }
}

.admin-wrapper
{
    display: flex;
    height: calc(100% - 60px);
}
.admin-wrapper .left-sidebar
{
 flex: 2;
 height: 900px;
 background: #234a57;
}
.admin-wrapper .left-sidebar ul a
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    text-decoration: none;
}
.admin-wrapper .left-sidebar ul li a
{
    padding: 18px;
    display: block;
    border-bottom: 1px solid #0B4844;
}
.admin-wrapper .left-sidebar ul li a:hover
{
   background: #0B4844;  
}
.admin-wrapper .admin-content 
{
 flex: 8;
 height: 900px;
 padding: 48px 100px 100px;
 overflow-y: hidden;
 background: rgba(44,62,80,0.7);
}
.admin-content .page-title
{
text-align: center;
margin-bottom: 1.5rem;
color: black;    
}


#add
{
    text-decoration: none;
}
#manage
{
    text-decoration: none;
}
table
{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1em;
}
th, 
td{
    padding: 15px;
    text-align: left;
    border-bottom:1px solid #d3d3d3;
}
.color
{
color: black;
}
.edit 
{
    color: green;
    text-decoration: none;
}
.delete
{
    color: red;
    text-decoration: none;
}
.publish
{
    color: blue;
    text-decoration: none;
}
.edit:hover,
.delete:hover,
.publish:hover {
    text-decoration: underline;
}

form div
{
   margin-bottom: 15px; 
   margin-left: 100px;
}
form input
{
    margin-left: 80px;

}


/* start status */



/* end status */

/* start list css */
/* table .tab
{
    overflow-x: scroll;
    background-color: rgba(44,62,80,0.7);
    width: 100%;
} */
tr th{
    color:#000;
}
tr td
{
    color: black;
}
th{
    text-align: center;
}

tr:nth-child(even)
{
    /* background-color: rgba(44,62,80,0.7); */
}
tr:nth-child(odd)
{
    /* background-color: #000; */
}

/* end list css */
.contact-items
{
display: flex;
align-items: center;
flex-direction: column;
}
.contact-items input[type="text"]{
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 10px;
  width: 50%;
}
.File {
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 10px;
  width: 50%;
}
.contact-items textarea {
  border-radius: 10px;
  height: 50px;
  padding: 15px;
  width: 50%;
}
.contact-items #textarea1 {
  border-radius: 10px;
  height: 200px;
  padding: 15px;
  width: 50%;
}
.contact-items #textarea2
{
    border-radius: 10px;
    height: 90px;
    padding: 15px;
    width: 50%;
}
.contact-items a {
  background: #0B4844;
  color: #fff;
  display: block;
  font-size: 20px;
  margin-top: 25px;
  padding: 15px 80px;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-icon
{
    display:none ;
}
@media all and (max-width:500px){
    .contact{
        flex-direction: column;
        width: 100%;
      }
      .mobile-icon
      {
          display: inline-block;
          color: white;
          float: right;
          margin-top: 30px;
          margin-right: 20px;
      }
      
}

@media all and (max-width:800px){
    .contact{
        flex-direction: column;
        width: 100%;
      }
       
}


