*
{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
}
body
{
    font-size: 20px;
    overflow-x: hidden;
    color: white;
    font-family: 'Flamenco', cursive;
}
header
{
background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/pexels.jpeg");
height: 105vh;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.clearfix:after
{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.row
{
    max-width: 1180px;
    margin: 0 auto;
}
.logo
{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 35px;
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    padding:10px;
    text-transform: uppercase;
}
.logo span
{
  color: green;
}
.logo span1
{
  color: yellowgreen;
}
.main-nav
{
    float: right;
    margin-top: 60px;
}
.main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a {
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;  
}
.main-nav li a:hover
{
 border-bottom: 2px solid #bf55ec;   
}
.main-content-header
{
    width: 1180px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1
{
color: #fff;
font-size: 240%;
word-spacing: 5px;
letter-spacing: 3px;
margin-bottom: 20px;
text-transform: uppercase;
font-weight: lighter;
}
.btn
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2, color 0.2;
}
.btn-full
{
    background-color: transparent;
    color: #bf55ec;
    margin-right: 15px;
    border: 1px solid #bf55ec;
}
.btn-full:hover
{
background-color: white;
}
.btn-nav
{
    background-color: transparent;
    color: #fff;
    border: 1px solid white ;
}
.btn-nav:hover
{
    background-color: #bf55ec;
}
.colorchange
{
    animation: colorchangeBROADCASTER 1s infinite;
}
@keyframes colorchangeBROADCASTER{
    0%{color: red;}
    25%{color: #bf55ec;}
    50%{ color: white;}
    100%{color: #bf55ec;}
}
.mobile-icon
{
    display:none ;
}

@media only screen and (max-width: 1180px)
{
    .main-content-header{
        width: 100%;
        padding: 0 2%;

    }
} 
@media only screen and (max-width: 998px)
{
    h1{
       font-size: 200%; 
    }    
}
@media only screen and (max-width: 768px)
{
    h1{
       font-size: 180%; 
    }  
    .main-nav
    {
        display: none;
    }  
    .mobile-icon
    {
        display: inline-block;
        color: white;
        float: right;
        margin-top: 30px;
        margin-right: 20px;
    }
    .main-nav
    {
        float: left;
    }
    .main-nav li
    {
        display: block;
        margin-top: 10px;
    }
    .footer-menu-one ul li a
    {
        display: inline;
    }
}
@media only screen and (max-width: 480px)
{
      .btn-full
      {
          margin-bottom:20px;
      }
      h1{
        font-size: 160%; 
     }    

}
a
{
    text-decoration: none;
    outline: none;
}
.footer-main-div
{
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px 0px;
}
.footer-social-icons
{
    width: 50%;
    height: auto;
    margin: auto;
}
.footer-social-icons ul
{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-social-icons ul li 
{
   display: inline-block; 
   width: 50px;
   height: 50px;
   margin: 0px 8px;
   border-radius: 50%;
   background: #32cd32;
}
.footer-social-icons ul li a
{
  color:#272727;
  font-size: 25px;
  display: block;
}
.footer-social-icons ul li a:hover
{
  color: #fff;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}
.footer-menu-one
{
   width: 100%;
   height: auto;
   margin: auto; 
   margin-top: 25px;
}
.footer-menu-one ul 
{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-one ul li
{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-one ul li a
{
   font-family: arial;
   font-size: 15px;
   font-weight: 600;
   color: #fff;
   letter-spacing: 1px;
   text-transform: uppercase;
}
.footer-menu-one ul li a:hover
{
    color: #32cd32;
}


.footer-botton
{
    width: 100%;
    height: auto;
    margin: auto;
    background:#01474a ;
    padding: 5px;
}
.footer-botton p
{
    font-family: arial;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-botton p a
{
    color: #fff;
}
.footer-botton p a:hover
{
    color: #272727;
}
.signin
{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    height: auto;
}
form{
    width: 100%;
    text-align: center;
}
#for
{
    margin-left: 100px;
}
input[type=text]
{
    width:  240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'play' sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}
input[type=password]
{
    width:  240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'play' sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

input[type=button]
{
    border:none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}
input[type=button]:hover
{
    color: #fff;
    background-color: black;
}
h2
{
    color:white;
}
a
{
     color: yellow;
     text-decoration: blink;
}
a:hover
{
  color: skyblue;  
}
.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
::placeholder
{
    color: aliceblue;
    opacity: 0.8;
}

  @media all and (max-width:800px){
    .signin
    {
      flex-direction: column;
      width: 100%;
    }
  }
  .signup
{
    background: rgba(44,62,80,0.7);
    padding: 25px;
    width: 800px;
    height: auto;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 20px;
} 
form
{
    width: 800px;
    text-align: center;
    height: 430px;
}
input
{
    width:  300px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'play' sans-serif;
    font-size: 16px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}
input[type=button]
{
    border:none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}

input[type=button]:hover
{
    color: #fff;
    background-color: black;
}

::placeholder
{
    color: aliceblue;
    opacity: 0.8;
}
.contact-items
{
display: flex;
align-items: center;
flex-direction: column;
}
.contact
{
    background: rgba(44,62,80,0.7);
    padding: 25px;
    width: 800px;
    height: 450px;
    margin-left: 180px;
    margin: 0 auto;
} 
.contact-items h2 {
  color: black;
  font-size: 40px;
  margin-bottom: 80px;
}
.contact-items input[type="text"]{
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  width: 50%;
}
.contact-items textarea {
  border-radius: 10px;
  height: 100px;
  padding: 15px;
  width: 50%;
}
.contact-items a {
  background: #da4b29;
  color: #fff;
  display: block;
  font-size: 20px;
  margin-top: 20px;
  padding: 5px 30px;
  text-decoration: none;
  text-transform: uppercase;
}
.contact-items input select{
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  width: 50%;
}
@media all and (max-width:500px){
  .contact{
    flex-direction: column;
    width: 100%;
  }
}
@media all and (max-width:800px){
  .contact{
    flex-direction: column;
    width: 100%;
  }
}

.admin-wrapper
{
    display: flex;
    height: calc(100% - 60px);
}
.admin-wrapper .left-sidebar
{
 flex: 2;
 height: 820px;
 background: #234a57;
}
.admin-wrapper .left-sidebar ul a
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    text-decoration: none;
}
.admin-wrapper .left-sidebar ul li a
{
    padding: 18px;
    display: block;
    border-bottom: 1px solid #0B4844;
}
.admin-wrapper .left-sidebar ul li a:hover
{
   background: #0B4844;  
}
.admin-wrapper .admin-content 
{
 flex: 8;
 height: 850px;
 padding: 48px 100px 100px;
 overflow-y: hidden;
}
.admin-content .page-title
{
text-align: center;
margin-bottom: 1.5rem;
color: black;    
}
#add
{
    text-decoration: none;
}
#manage
{
    text-decoration: none;
}
table
{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1em;
}
th, 
td{
    padding: 15px;
    text-align: left;
    border-bottom:1px solid #d3d3d3;
}
.color
{
color: black;
}
.edit 
{
    color: green;
    text-decoration: none;
}
.delete
{
    color: red;
    text-decoration: none;
}
.publish
{
    color: blue;
    text-decoration: none;
}
.edit:hover,
.delete:hover,
.publish:hover {
    text-decoration: underline;
}

form div
{
   margin-bottom: 15px; 
   margin-left: 100px;
}
form input
{
    margin-left: 80px;

}
.contact-items
{
display: flex;
align-items: center;
flex-direction: column;
}
.contact
{
    background: rgba(44,62,80,0.7);
    padding: 25px;
    width: 900px;
    height: auto;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 20px;
} 
.contact-items input[type="text"]{
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 10px;
  width: 50%;
}
.File {
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 10px;
  width: 50%;
}
.contact-items textarea {
  border-radius: 10px;
  height: 50px;
  padding: 15px;
  width: 50%;
}
.contact-items #textarea1 {
  border-radius: 10px;
  height: 200px;
  padding: 15px;
  width: 50%;
}
.contact-items a {
  background: #da4b29;
  color: #fff;
  display: block;
  font-size: 20px;
  margin-top: 25px;
  padding: 15px 80px;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-icon
{
    display:none ;
}
@media all and (max-width:500px){
    .contact{
        flex-direction: column;
        width: 100%;
      }
      .mobile-icon
      {
          display: inline-block;
          color: white;
          float: right;
          margin-top: 30px;
          margin-right: 20px;
      }
      
}

@media all and (max-width:800px){
    .contact{
        flex-direction: column;
        width: 100%;
      }
       
}


